<!DOCTYPE html>
<html>
<a href="https://github.com/ArmaAchilles/Achilles"><img style="float: right; margin-left: -149px" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon_achilles_small.png">
<head>
	<meta charset="utf-8">
	<title>Arma 3 Achilles</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/styles/default.css">
</head>
<body bgcolor="#54585B">
	<div class="titlebar">
		<img src="/assets/images/icon_achilles_dialog.png" alt="Achilles Logo">
		<h1>Achilles Mod</h1>
	</div>
	<div class="frame">
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="/wiki">Wiki</a>
			<a href="#contact">Contact</a>
			<a href="#about">About</a>
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
	<div class="footer">
		<left>© 2019 Achilles Dev Team</left>
		<right>Powered by GitHub</right>
	</div>
</body>
</html>
