<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Arma 3 Achilles</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/styles/default.css">
	<link rel="icon" href="/assets/images/icon_achilles_small.png">
</head>

<a href="https://github.com/ArmaAchilles/Achilles">
	<img style="float: right; margin-left: -149px" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<body bgcolor="#54585B">
	<div class="titlebar">
		<img src="/assets/images/icon_achilles_dialog.png" alt="Achilles Logo">
		<h1>Achilles Mod</h1>
	</div>
	<div class="frame">
		<div class="topnav">
			{% for entry in  site.data.nav.topnav %}
				<a class="{% if entry.url == page.url %}active{% endif %}" href="{{ entry.url }}">{{ entry.name }}</a>
			{% endfor %}
		</div>
		<div class="content">
			{{ content | markdownify }}
		</div>
	</div>
	<div class="footer">
		<left>© 2019 Achilles Dev Team</left>
		<right>Powered by GitHub</right>
	</div>
</body>
</html>
